
<!DOCTYPE html>
	<html>
		<head>
		
		<script src = 'http://code.jquery.com/jquery-latest.js'> </script>

		</head>

		<body>
			<br>
			<br>
			<br>	 
			<form action ="" method = "post" enctype = "multipart/form-data">
			<input type = 'file' name = 'upload'/>
			<input type = "submit" value = "결과출력" />
			<br>
			<br>
			<br>
			<div id = "result"> </div>
		</body>
	</html>
