<!DOCTYPE html>
	<html>
		<head>
		<title> Finance Calculator v1.3 </title>
		<script src = 'http://code.jquery.com/jquery-latest.js'></script>
		<style>
			body {  
				background-color : linen;
			}
			h1 {
				text-align : center;
			}
			h2 {
				text-align : center;
			}
			h4 {
				text-align: right;
			}

		</style>
		</head>

		<body>
			<h1><font color = "pink">  #이사님 결과입니다#  </font></h1>
			<br><br><br>
			<h2> 총매출 : <%=total_sum%> 원 </h2><br>
			

		</body>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

		<footer>
		<h4> copyright@sungjune.park@isharingsoft.com </h4>
		</footer>
	</html>