<html>
  
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='http://code.jquery.com/jquery-latest.js'></script>
    <script src='/javascripts/script.js'></script>
  
  </head>
  
  <body>
  	<br><br><br>
    <input type="text" id="msg" />
    <input type="button" id="ajax_test" value="search" onclick="clickbtn();"/>
    <br><br><br>
        
    <div id="result"></div>
    
  </body>
</html>